.cabecalho-imagem{
    width: 20%;
}

.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    height: 100px;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    color: white;    
}

*{
    margin: 0;
    padding: 0;
}

a			{
            color: #0000FF;
            text-decoration: none;
            }


a:hover 	{
            font-family: Arial;
            font-size: 16px;
            font-weight: bolder;
            color: #FF9900;
            text-decoration: underline;
            }

.cursor		{
            cursor: hand;
            }