*{
    margin: 0;
    padding: 0;
}

body
    {
        font-family: verdana, arial, sans-serif;
    }

.cabecalho-imagem
                {
                    width: 50px;
                }

.cabecalho 
            {
                background-color: #424E61;
                color: white;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 5px 0;
                height: 15%;
            }

.cabecalho-lista-item
                    {
                        display: inline-block;
                        margin: 0 16px;
                        font-size: 24px;
                    }



a	{
        color: white;    
    }

a:hover {
            color: #FF9900;
        }

.escola
        {
            background-image: linear-gradient(#424E61  ,#8d95a1);
            color: white;
            font-size: 21px;
            padding: 300px 250px; 
            margin: 0px; 
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

.escola-titulo
                {
                    padding: 24px;
                }

.escola-imagem
                {
                    width: 25%;
                }

.escola-texto
                {
                    padding:10px;
                    margin: 0px; 
                }

.escola-div-conteudo
                    {
                        padding:150px;
                        align-items: center;
                    }